name: CI

on:
  push:
    paths-ignore:
    - LICENSE
    - README.md
  pull_request:
    paths-ignore:
    - LICENSE
    - README.md
  workflow_dispatch:
  schedule:
    - cron: '30 03 01 */3 *' # Artifacts expire every 3 months

jobs:
  build:
    name: build with sm${{ matrix.sm_version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-20.04
          - windows-latest
          
        sm_version:
          - "1.8"
          - "1.9"
          - "1.10"
          - "1.11"
          
        include:
          # Use MM:Source 1.10 as base version
          - meta_version: "1.10"
            meta_branch: "1.10-dev"
            
          - meta_version: latest
            meta_branch: master
            
          - os_short: linux
            
          - sm_version: "1.8"
            sm_branch: "1.8-dev"
            
          - sm_version: "1.9"
            sm_branch: "1.9-dev"
            
          - sm_version: "1.10"
            sm_branch: "1.10-dev"
            
          - sm_version: "1.11"
            sm_branch: "1.11-dev"
            
          - os: ubuntu-20.04
            os_short: oldlinux
            
          - os: windows-latest
            os_short: win
            
    steps:
      - name: Prepare env
        shell: bash
        run: |
          echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV
          
      - name: Install (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y clang g++-multilib
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV
          
      - name: Getting SourceMod ${{ matrix.sm_version }}
        uses: actions/checkout@v4
        with:
          repository: alliedmodders/sourcemod
          ref: ${{ matrix.sm_branch }}
          path: sourcemod-${{ matrix.sm_version }}
          submodules: recursive
          
      - name: Getting MM:Source ${{ matrix.meta_version }}
        uses: actions/checkout@v4
        with:
          repository: alliedmodders/metamod-source
          ref: ${{ matrix.meta_branch }}
          path: metamod-${{ matrix.meta_version }}
          
      - name: Getting SteamWorks SDK
        uses: actions/checkout@v4
        with:
          repository: shqke/steamworks-sdk
          ref: v1.55
          path: steamworks-sdk
          token: ${{ secrets.STEAMWORKS_REPO_ACCESS_TOKEN }}
          
      - name: Setting up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
        
      - name: Getting ambuild
        run: |
          python -m pip install wheel
          pip install git+https://github.com/alliedmodders/ambuild
          
      - name: Getting hl2sdk-l4d2
        uses: actions/checkout@v4
        with:
          repository: alliedmodders/hl2sdk
          ref: l4d2
          path: hl2sdk-l4d2
          
      - name: Getting hl2sdk-l4d
        uses: actions/checkout@v4
        with:
          repository: alliedmodders/hl2sdk
          ref: l4d
          path: hl2sdk-l4d
          
      - name: Getting own repository
        uses: actions/checkout@v4
        with:
          path: src
          
      - name: Compiling ${{ github.event.repository.name }} files
        shell: bash
        working-directory: src
        run: |
          mkdir build
          cd build
          python \
            ../configure.py \
            --enable-optimize \
            --sm-path="${{ github.workspace }}/sourcemod-${{ matrix.sm_version }}"\
            --mms-path="${{ github.workspace }}/metamod-${{ matrix.meta_version }}"\
            --swsdk-path="${{ github.workspace }}/steamworks-sdk"
          ambuild
          
      - name: Uploading package
        uses: actions/upload-artifact@v4
        with:
          name: sourcetvsupport-sm${{ matrix.sm_version }}-${{ matrix.os_short }}-${{ env.GITHUB_SHA_SHORT }}
          path: src/build/package
